/.classpath
/.project
/manifest.mf
/openttd-admin.jar
/bin
/build/
/nb-build.xml
/nbproject/
/dist/
/bin-test/
/nbbuild.xml

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
openttd/*
